$beige: #EFE5D5;
$black: #403d39;
$blue: #623cea;
$brown: #bfafa6;
$violet: #b8b8ff;

.App {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  // font-style: italic;
  background-color: $beige;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $beige;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $black;
}

.App-link {
  color: $blue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lets-go-btn {
  background-color: $brown;
  border: none;
  color: $black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  &:hover{
    background-color: $black;
    color: $beige
  }
}



.card {
	background-color: #fff;
	border-radius: 4px;
  min-width: 600px;
	// max-width: 400px;
	// margin: 10% auto;
	// height: 100px;
	position: relative;
	padding: 5px;
  margin: 5px;
	color: #444;
	cursor: pointer;
	&:before {
		content: '';
		display: block;
		position: absolute;
		background-color: #ccc;
		left: 20px;
		right: 20px;
		bottom: 0;
		top: 50%;
		z-index: -1;
		box-shadow: 0 0 40px lighten(#000, 60%);
		transition: box-shadow .2s ease-in-out;
	}
	&.level-3 {
		&:hover {
			&:before {
				box-shadow: 0 0 80px lighten(#000, 60%);
			}
		}
	}
	h5 {
		font-weight: 300;
		font-size: 20px;
    margin: 15px;
	}

  &.modal {
    background-color: $beige;
    // border: $brown;
    margin: 2rem 2rem;
    text-align: center;
    // margin-top: 2rem;
  }
}
