$beige: #EFE5D5;
$black: #403d39;
$blue: #623cea;
$brown: #bfafa6;
$violet: #b8b8ff;

@mixin breakpoint($class) {
  @if $class == xsm {
    @media (min-width: 320px) {
        @content;
    }
  }
  @if $class == sm {
    @media (min-width: 576px) {
      @content;
    }
  }
  @else if $class == md {
    @media (min-width: 768px) {
      @content;
    }
  }
  @else if $class == lg {
    @media (min-width: 1025px) {
      @content;
    }
  }
  @else if $class == xl {
    @media (min-width: 1700px) {
      @content;
    }
  }
  @else if $class == xxl {
    @media (min-width: 2374px) {
      @content;
    }
  }
}

.App {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  // font-style: italic;
  background-color: $beige;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $black;
}


.App-header {
  background-color: $beige;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $black;
}

.App-link {
  color: $blue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lets-go-btn {
  background-color: $brown;
  border: none;
  color: $black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  &:hover{
    background-color: $black;
    color: $beige
  }
}



.card {
	background-color: #fff;
	border-radius: 4px;
  min-width: 320px;
  @include breakpoint(md){
    min-width: 550px;
    max-width: 620px;
  }

	position: relative;
	padding: 5px;
  margin: 12px;
	color: #444;
	cursor: pointer;
	&:before {
		content: '';
		display: block;
		position: absolute;
		background-color: #ccc;
		left: 20px;
		right: 20px;
		bottom: 0;
		top: 50%;
		z-index: -1;
		box-shadow: 0 0 40px lighten(#000, 60%);
		transition: box-shadow .2s ease-in-out;
	}
	&.level-3 {
		&:hover {
			&:before {
				box-shadow: 0 0 80px lighten(#000, 60%);
			}
		}
	}
	h5 {
		font-weight: 300;
		font-size: 20px;
    margin: 15px;
	}

  .teams {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    .team-display{
      display: flex;
      flex-direction: column;
      align-content: center;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin: 5px;
      width: 120px;

      .team-name {
        font-size: 12px;
        margin: 1px;
        min-height: 30px;
      }
    }
  }

  .score {

    @include breakpoint(md){
      margin: 1rem;
    }
    p{
      margin: 5px;
      font-size: 25px;

      @include breakpoint(md){
        font-size: 35px;
      }
    }
  }

  &.modal {
    background-color: $beige;
    // margin: auto;
    text-align: center;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;

    @include breakpoint(md){
      margin: auto;
      margin-top: 2rem;
    }


    .stat-chart {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      &-team{
        margin: 1rem;
      }

      &-labels{
        margin: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
      }
    }
  }
}

.day-selector {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

    &-btn {
      background-color: $brown;
      height: 1rem;
      margin: 1rem;
      padding: 1rem;
      font-size: 14px;
      border-radius: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 4rem;

      &.hide {
        visibility: hidden;
      }
    }
}

.date-display {
  font-size: 14px;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.footer {
  margin: 2rem;

  p{
    font-size: 14px;
  }
}

.scorebug-logo {
  height: 60px;
  width: 60px;

  @include breakpoint(md){
    height: 100px;
    width: 100px;
  }
}


